body {
<<<<<<< Updated upstream
  background-color: red;
=======
  background-color: #008080;
>>>>>>> Stashed changes
  color: #fff;
}

.main-wrapper {
  width: 100%;
  height: 100vh;
}

.border {
  border: 2px solid #fff;
}

.main-content-wrapper {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}
.left {
  float: left;
}

.left-sidebar {
  width: 30%;
  height: 100vh;
}

.main-content {
  width: 40%;
  height: 100vh;
}

.right-sidebar {
  width: 29%;
  height: 100vh;
}
.header {
  height: 10vh;
}

.footer {
  height: 10vh;
}
